In [124]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
from datetime import datetime
import unicodedata

In [125]:
datetime.now()

datetime.datetime(2020, 2, 4, 12, 45, 9, 398301)

In [126]:
url = 'https://www.health.gov.au/news/coronavirus-update-at-a-glance'
content = requests.get(url).content

In [127]:
soup = BeautifulSoup(content)
data = soup.findAll(class_='au-callout', text=re.compile('As of .+'))
print(data[0].getText())

As of this morning, 4 February 2020, 12 cases of 2019-nCoV have been confirmed in Australia: 4 in New South Wales, 4 in Victoria, 2 in South Australia, and 2 in Queensland.

In [128]:
cases_str = unicodedata.normalize("NFKD", data[0].getText())

In [129]:
cases_str

'As of this morning, 4 February 2020, 12 cases of 2019-nCoV have been confirmed in Australia: 4 in New South Wales, 4 in Victoria, 2 in South Australia, and 2 in Queensland.'

In [130]:
date_time_str = re.search('As of .+ (\d \w+ 202\d)' ,cases_str).group(1)
date_time_str

'4 February 2020'

In [131]:
data_date_time = datetime.strptime(date_time_str, '%d %B %Y').strftime('%Y-%m-%d')
data_date_time

'2020-02-04'

In [132]:
m = re.search('(\d+) cases .+ confirmed in Australia', cases_str)
australia = int(m.group(1))

In [133]:
m = re.search('(\d+) in New South Wales', cases_str)
nsw = int(m.group(1))

In [134]:
m = re.search('(\d+) in Victoria', cases_str)
victoria = int(m.group(1))

In [135]:
m = re.search('(\d+) in South Australia', cases_str)
sa = int(m.group(1))

In [136]:
m = re.search('(\d+) in Queensland', cases_str)
qld = int(m.group(1))

### Dataframe

In [137]:
df = pd.DataFrame({'date': data_date_time, 'australia': australia, 'nsw': nsw, 'victoria': victoria, 'sa': sa, 'qld': qld}, index=[0])

In [138]:
df

         date  australia  nsw  victoria  sa  qld
0  2020-02-04         12    4         4   2    2

### Save to file

In [139]:
from pathlib import Path
csv_file = 'data/australia-cases.csv'

if Path(csv_file).exists():
    # read out the old data
    old_df = pd.read_csv(csv_file)
    df = df.append(old_df)
df.drop_duplicates(subset=['date'], inplace=True)

In [140]:
df.sort_values(by=['date'], inplace=True)
df.to_csv(csv_file, index=False)
df

         date  australia  nsw  victoria  sa  qld
0  2020-02-03         12    4         4   2    2
0  2020-02-04         12    4         4   2    2

### Plot graph

In [107]:
# TODO once there is more data

                    date  australia  nsw  victoria  sa  qld
datetime_idx
2020-02-04    2020-02-04         12    4         4   2    2